<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
            height: 100vh;
            display:flex;
            align-items:center;
            justify-content:center;
            font-family: cursive;
            color:rgb(230, 218, 218);
            background-color: rgb(34, 27, 27);
            }
            p{
                width: 70vw;
                font-size: 1.5rem;
            }
    </style>
</head>

<body>
     
    <p>
        <h1>Hey {{user}}</h1>
        This is your 6 digits of code required ofr the confirmation:
        {{code}}
    </p>
</body>
</html>
