{% extends 'base.html' %}

{% load static %}
{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

{% endblock style %}

{% block content %}
<h1>You must verify your email to login in our site.</h1>
<h2>A verfication link will be sent to your email right after you press register.</h2>
<form method="POST" enctype="multipart/form-data" id="register">
    {% csrf_token %}
{{ form.non_field_errors }}
    {% for field in form %}
   {{ field.errors }}
   {{ field.label_tag }} 
   {{ field }}
    {% endfor %}
    <input type="submit" value="Register"/>
</form>
    <label for="login">Already a user?</label>
    <a href="{% url 'user:login' %}" id="login"> Login </a> 
    

{% endblock content %}
