{% extends 'base.html' %}

{% block style %}
<style>
    body{
    height:100vh;
    background:rgba(150, 150, 0, 1);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label, input{
    margin: 5px;
    display:block;
    color:red;
    padding: 3px;
    font-weight:bolder;
}
input, input:focus{
    height: 50px;
    width:250px;
    color: brown;
    outline: none;

}
a{
    display: block;
    height:50px;
    width:200px;
    margin: 5px;
    line-height:50px;       
     text-align: center;
     text-decoration:none;
font-size:large;
font-family: cursive;
    justify-content: center;
    padding: 5px;
    background-color: pink;

}
a:hover{
    background-color: rgba(255, 0, 0, 0.39);
}
a:focus{
    display: block;
    z-index: 1000;
    border-radius: 50%;
    color:cyan;
    background-color: red;
    transform: scale(20) ;
    transition: transform .3s linear;
    position: absolute;
}
</style>


{% endblock style %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="register" value="Register">
    </form>
    
    <label for="login">Already a user?</label>
    <a href="{% url 'user:login' %}" id="login"> Login </a> 
    

{% endblock content %}
