* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  font-family: cursive;
}

/* #logoutform {
  position: absolute;
  width: max-content;
  top: 10px;
  right: 10px;
  height: max-content;
}
input#logout {
  height: 50px;
  width: 150px;

  margin: 5px;
  padding: 2px;
  text-decoration: none;
  background: red;
  text-align: center;
  line-height: 50px;
  font-family: cursive;
  font-size: 1.5rem;
  border-radius: 10px;
} */
a#logout:hover {
  color: red;
  background-color: black;
}
a#register:hover{
  color:black;
  background-color: cyan;
}
a#login:hover{
  color:rgb(193, 35, 207);
  background-color: rgb(9, 255, 0); 
}

