body{
    height:100vh;
    background:rgba(255, 100, 0, 1);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
   
}
form#bmi_calculator{
    height: 70vh;
    width:max-content;
    background:rgb(236, 132, 62);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

input{
    margin:5px;
    padding:2px;
    height:30px;
    width:200px;
    border-radius:5px;
}
input[type="submit"]{
    height:50px;
    width:200px;
    color:red;
}