{% extends 'base.html' %} {% load static %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dashboard.css' %}"
/>

<style>
  *{
      --table-back-color:{{user.state.color}} ;
  }
</style>
{% endblock style %}

{% block content %}

<label for="table"> Your Current Data </label>
<table id="table">
  <tr>
    <th>Username</th>
    <th>Age</th>

    <th>Height(meter)</th>
    <th>Weight(kg)</th>
    <th>BMI</th>
    <th>Email</th>
    <th>Last updated</th>
  </tr>
  <tr>
    <td>{{user}}</td>
    <td>{{user.age}}</td>
    <td>{{user.height}}</td>

    <td>{{user.weight}}</td>
    <td>{{user.bmi}}</td>
    <td>{{user.email}}</td>
    <td>{{user.updated_time}}</td>
  </tr>
</table>

<form action="{% url 'BMIcalculator:delete' %}">
  <input type="submit" value="DELETE BMI DATA" id="delete" />
</form>
<form action="{% url 'user:update' %}">
  <input type="submit" value="UPDATE MY DATA" id="update" />
</form>
{% endblock content %}
