{% extends 'base.html' %}
{% load static %}
{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

{% endblock style %}

{% block content %}

<div class="container">
    <form action="{% url 'BMIcalculator:bmi_calculator' %}" method="get" id="bmi_calculator">
        <div class="form-group mb-3">

        <label for="weight"> <h1>Weight</h1>  </label>
        <input required type="number" id="weight" class="form-control" placeholder="Weight" name="weight" step="0.01">

        <select name="weight_unit"class="form-select form-select-lg mb-3 select2bs4" id="weight_unit" required>
            <option>Kilogram</option>
            <option>Pound</option>
        </select>
        <label for="height"> <h1>Height </h1></label>
        <input required type="number" id="height" class="form-control" placeholder="Height (For using foot you should put the inches after decimal)" name="height" step="0.01" max_value="4">
        <select name="length_unit" class="form-select form-select-lg mb-3 custom-select" id="length_unit" required>
            <option>meter</option>
            <option>centimeter</option>
            <option>foot</option>
            <option>inch</option>
        </select>
        <input type="submit" class="btn btn-primary" value="Calculate BMI">
        </div>
    </form>
</div>

{% endblock content %}

</html>